<!DOCTYPE html>
<html>
 <head>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>



</head>

<body>
<div class='container'>
  <center>
   <div class="panel-heading"style='margin-top:5%'><h2>Autocomplete Search using Google API<br><small>Developed by - Pankaj Chaudhary</small></h2><br>
    
<div ng-app="myApp" ng-controller="myCtrl" > 


<input type="text" ng-model="text" ng-change="myFunc()" list="browsers" size="60">
  <button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
<datalist id="browsers" >
         <option ng-repeat="x in names" value={{x}}></option>
      </datalist>
</div>



</div>
</center>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

  $scope.myFunc=function(){
  $http.get("http://suggestqueries.google.com/complete/search?client=firefox&q="+$scope.text)
  .then(function(response) {
  console.log(response);
      $scope.names = response.data[1];
  });
}
});
</script>

</body>
</html>

